html {
    font-size: 14px;
    box-sizing: border-box;
  }
     
     /* Adding downloaded font - bold */
     @font-face {
        font-family: myFirstFont;
        src: url("../fonts/Raleway-Bold.ttf");
      }
    
       /* Adding downloaded font - medium */
    @font-face {
        font-family: mySecondFont;
        src: url("../fonts/Raleway-Medium.ttf");
      }
    
         /* Adding downloaded font - medium italic */
    @font-face {
        font-family: myThirdFont;
        src: url("../fonts/Raleway-MediumItalic.ttf");
      }
    
           /* Adding downloaded font - light */
    @font-face {
        font-family: myFourthFont;
        src: url("../fonts/Raleway-Light.ttf");
      }

      body {
        line-height: 1.5;
      }

      header {
        background-color: #3c3b3a;
    }
  
    header img {
      max-width: 100px;
      /* Adding a gap to the left */
      padding-left: 6rem;
      margin-left: 0 auto;
    }
  
    nav ul li a {
      color: white;
        text-decoration: none;
    }
  
    nav ul {
      list-style-type: none;
      margin: 0;
      font-family: mySecondFont;
    }
  
    nav li {
      display: inline;
      float: left;
      padding-left: 3rem;
      position: relative;
      left: 75rem;
      bottom: 5rem;
    }
  
    nav li:hover {
      font-weight: bolder;
      font-size: 1.02rem;
    }

    footer {
        background-color: #3c3b3a;
        padding-bottom: 4rem;
      }
    
      footer h5 {
        font-family: myFourthFont;
        font-size: 1.5rem;
        text-align: center;
        color: white;
        padding-top: 2rem;
        margin-bottom: -3rem;
      }
    
      footer img {
        display: inline;
        padding-left: 1rem;
        padding-top: 2rem;
        position: relative;
        left: 47rem;
      }
    
      .arrow-image {
        padding-left: 38rem;
      }
    
      footer p {
        font-family: myFourthFont;
        color: white;
        float: right;
        padding-top: 5rem;
        padding-right: 5.8rem;
        font-size: small;
      }